
body {
    background-image: url(./imgs/Windows98.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
    background
}


.game_container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}

.button {
    width: 150px;
    display: block;
    margin-bottom: 10px;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    width: 198px;
    height: 50px;
}

.mines_counter {
    width: 63px;
    height: 41px;
    background-image: url(/imgs/nums_background.svg); 
    display: flex;
}

.mines_counter > div > img{
    width: 20px;
    margin-right: 1px;
    margin-top: 2px;
}

.time_counter {
    width: 63px;
    height: 41px;
    background-image: url(/imgs/nums_background.svg); 
    display: flex;
}

.time_counter > div > img{
    width: 20px;
    margin-right: 1px;
    margin-top: 2px;
}
#face img {
    width: 30px;
}


.boardElement {
border: 1px solid lightgrey;
background-color: grey;
width: 20px;
height: 20px;
}

.img {
    display: none;
}

.lose {
    background-color: red;
}

.win {
    background-color: green;
}

.line {
display: flex;
align-items: center;
}

